{
  "admin": "host=127.0.0.1 port=5432 user=postgres dbname=postgres",
  "db": "twclone",
  "app": "host=127.0.0.1 port=5432 user=postgres dbname=%DB%",
  "sql_dir": "sql/pg",

  "sectors": 1000,
  "density": 4,
  "port_ratio": 40,
  "planet_ratio": 10,
  "min_tunnels": 15,
  "min_tunnel_len": 4,

  "server_port": 1234,
  "s2s_port": 4321
}
